**
!extension/
!extension/target/
!extension/target/keycloak-nats-durable-*.jar
!consumer-example/
!consumer-example/target/
!consumer-example/target/consumer-example-*.jar
!deploy/
!deploy/Dockerfile.*
