**
!extension/
!extension/target/
!extension/target/keycloak-nats-durable-1.0.0-SNAPSHOT.jar
!consumer-example/
!consumer-example/target/
!consumer-example/target/consumer-example-1.0.0-SNAPSHOT.jar
!deploy/
!deploy/Dockerfile.*
