root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.java]
max_line_length = 100
ij_java_class_count_to_use_import_on_demand = 2147483647
ij_java_names_count_to_use_import_on_demand = 2147483647
ij_java_if_brace_force = always
ij_java_for_brace_force = always
ij_java_while_brace_force = always
ij_java_do_while_brace_force = always
